body{
  background-color: lightgrey;
}
.loginPage table{
  margin:10%;
}
.loginPage input{
  border-radius:6px;
  padding: 4px;
  margin:4%;
}
#submit{
  margin-left: 50%;
  margin-top: 4%;
}
#items {
   clear: both;
}
/*//ghghjj*/


.lib-panel {
  margin-bottom: 20Px;
}
.lib-panel img {
  width: 100%;
  background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
  margin-left: 15px;
}


.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
.employeeData table,th,td,tr{
  border:1px solid grey;
  padding:2px;
  text-align: center;
  margin-bottom: 10px;
}
