<div class="employeeData">
  <div class="container">
  <div class="jumbotron"style="opacity:0.5;">
    <center>
      <h1>Employee Data</h1>
      <br>
      <h3><u>{{empData.employeeName}}</u></h3>
    </center>
  </div>
    <table style="margin-left:30%">
      <colgroup>
        <col style="width: 33%" />
        <col style="width: 33%" />
        <col style="width: 33%" />
      </colgroup>
      <th colspan="2">
        Employee Data
      </th>
      <tr>
        <td>
          Employee Name
        </td>
        <td>
          {{empData.employeeName}}
        </td>
      </tr>
      <tr>
        <td>
          Employee Status
        </td>
        <td>
          {{empData.employeeStatus}}
        </td>
      </tr>
      <tr>
        <td>
          Company Name
        </td>
        <td>
          {{empData.company}}
        </td>
      </tr>
      <tr>
        <td>
          Contact Number
        </td>
        <td>
          {{empData.mobile}}
        </td>
      </tr>
      <tr>
        <td>
          Employee Email-Id
        </td>
        <td>
          {{empData.emailId}}
        </td>
       </tr>
      <tr>
        <td>
          Joining Date
        </td>
        <td>
          {{empData.blStartDate}}
        </td>
      </tr>
      <tr>
        <td>
          Termination Date
        </td>
        <td>
          {{empData.companyJoinDate}}
        </td>
      </tr>
      <tr>
        <td>
          Leave Date
        </td>
        <td>
          {{empData.companyLeaveDate}}
        </td>
      </tr>

    </table>

    <br><br>

    <table style="margin-left:15%;margin-bottom:10%">
      <colgroup>
        <col style="width: 33%" />
        <col style="width: 33%" />
        <col style="width: 33%" />
      </colgroup>
      <th colspan="2">
        Personal Data
      </th>
      <tr>
        <td>
          Email-Id
        </td>
        <td>
          {{personalData.emailId}}
        </td>
      </tr>
      <tr>
        <td>
          Contact Number
        </td>
        <td>
          {{personalData.mobile}}
        </td>
      </tr>
      <tr>
        <td>
          Date Of Birth
        </td>
        <td>
          {{personalData.dateOfBirth}}
        </td>
      </tr>
      <tr>
        <td>
          Guardian Name
        </td>
        <td>
          {{personalData.fatherName}}
        </td>
      </tr>
      <tr>
        <td>
          Guardian Contact Number
        </td>
        <td>
          {{personalData.fatherMobile}}
        </td>
      </tr>
      <tr>
        <td>
          Annual Salary(in lacs)
        </td>
        <td>
          {{personalData.annualSalary}}
        </td>
      </tr>
      <tr>
        <td>
          Current Address
        </td>
        <td>
          {{personalData.mumbaiAddress}}
        </td>
      </tr>
      <tr>
        <td>
          Permanent Address
        </td>
        <td>
          {{personalData.permenantAddress}}
        </td>
      </tr>

    </table>

  </div>
</div>
