<div class="loginPage">
  <center>
    <form name="form1">
        <table>
            <tr>
                <td>User Name(Email Id)</td>
                <td><input type="email" ng-model="data.emailId" maxlength="100" required/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" ng-model="data.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$/" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="submit" align="center" ng-click="loginFunction()" value="SUBMIT" />
                </td>
            </tr>
        </table>
    </form>
  </center>
</div>
